<header class="header">
    <a href="/">
        <img class="avatar" src="<%= theme.avatar %>" alt="">
      </a>
    <div class="blog-title">
        <a href="<%- url_for() %>" class="logo"><%= config.title %></a>
    </div>
    <p class="description">
        <%= config.description %>
    </p>
    <% if (theme.fa) { %>
        <div id="jumao">
            <!-- <img src="<%= page.image %>" alt=""> -->
        </div>
        <div id="cyfwlp-logo">
            <img src="/imgs/logo.png" alt="" style="max-height: 2.5em;">
        </div>
    <% }%>
    <nav class="navbar">
        <ul class="menu">
            <% for (let name in theme.menu) { %>
            <% let nav = page.path.replace('index.html', '') %>
            <% nav = nav !== '' ? nav : '/' %>
            <li class="menu-item">
                <% if ('/' + nav !== theme.menu[name] + '/') { %>
                <a href="<%- url_for(theme.menu[name]) %>" class="menu-item-link"><%= __(name) %></a>
                <% } else { %>
                <a href="<%- url_for(theme.menu[name]) %>" class="current-menu-item-link"><%= __(name) %></a>
                <% } %>
            </li>
            <% } %>
        </ul>
    </nav>
</header>